<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <style>
        body {
            margin: 0;
            display: flex;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div style="width: 90%; max-width: 400px; display: flex; flex-direction: column; justify-content: center; align-items: center" class="container">
    <svg style="margin: 20px" xmlns="http://www.w3.org/2000/svg" width="7rem" height="7rem" viewBox="0 0 24 24">
        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
    </svg>
    <h1 style="margin: 20px" class="title">Заявка создана</h1>
    <p style="margin: 20px" class="subtitle is-5 has-text-centered">Заявка на создание аккаунта отправлена
        модераторам!<br>В течение 24 часов ваш аккаунт будет активирован, если все данные были заполнены верно.</p>
    <a style="margin: 20px" class="button is-light is-info is-medium" href="/logout">Выйти из аккаунта</a>
</div>

</body>
</html>