<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<p class="subtitle is-1">Данные аккаунта: {{ account_data }}</p>
<p class="subtitle is-1">Ваш тип аккаунта: {{ session['account_type'] }}</p>
<a class="button is-medium" href="/logout">Выйти из аккаунта</a>
</body>
</html>